body {
    font-family: Arial;
    background-color: #f2f2f2;
    text-align: center;
}

.quiz-box {
    background: white;
    width: 400px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 5px;
}

button {
    padding: 8px 20px;
    background-color: #4c4eaf;
    color: white;
    border: none;
}
